
body{
    background-image: url(../img/fundo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#logo{
    width: 110px;
    height: 100px;
}
.divcapa{
    text-align: center;
}
#capa{
    width: 60%;
    height: 20%;
}
#barraIni{
    text-align: center;
    margin-top: 3px;

}
a{
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    background-color: #fb3f52;
    border-radius: 3%;
}

h2{
    color: #000000;
    margin-top: 19px;
    padding: 5px;
}
h3{
    color: #000000;
    padding: 8px;
    font-size: 22px;
    margin-left: 10px;
}
li{
    color: #000000;
    margin-top: 10px;
    font-size: 16px;
}
p{
    margin-left: 5px;
}

button{
    color: #ffffff;
    background-color: #fb3f52;
    margin-left: 10px;
    border-radius: 18%;
    cursor: pointer;   
    transition: transform 0.3s;
    border: 1px solid #862c2c;
    flex: 1;
    
}
button:hover{
    background-color: #f30c23;
    transform: scale(1.05);
}
.compras{
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10%;
}
.titulo-topo{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.pagina{
    margin-left: 10px;
    border-radius: 3%;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}
.dev{
    font-weight: bold;
}
small{
    color:#c90418;
    font-size: 17px;
}



